<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Student Servlets -->
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegisterServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.StudentRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.StudentProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyListServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.CompanyListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyDetailsServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.CompanyDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyCompanyServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.ApplyCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyApplicationsServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.MyApplicationsServlet</servlet-class>
    </servlet>
    <!-- Admin Servlets -->
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStudentListServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.AdminStudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCompanyListServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.AdminCompanyListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompanyServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.AddCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompanyServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.UpdateCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCompanyServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.DeleteCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyApplicationsServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.CompanyApplicationsServlet</servlet-class>
    </servlet>
    <!-- Mappings -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadResumeServlet</servlet-name>
        <servlet-class>com.me.finaldesignproject.DownloadResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegisterServlet</servlet-name>
        <url-pattern>/StudentRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileServlet</servlet-name>
        <url-pattern>/StudentProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyListServlet</servlet-name>
        <url-pattern>/CompanyListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyDetailsServlet</servlet-name>
        <url-pattern>/CompanyDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyCompanyServlet</servlet-name>
        <url-pattern>/ApplyCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyApplicationsServlet</servlet-name>
        <url-pattern>/MyApplicationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStudentListServlet</servlet-name>
        <url-pattern>/AdminStudentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCompanyListServlet</servlet-name>
        <url-pattern>/AdminCompanyListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompanyServlet</servlet-name>
        <url-pattern>/AddCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompanyServlet</servlet-name>
        <url-pattern>/UpdateCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCompanyServlet</servlet-name>
        <url-pattern>/DeleteCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyApplicationsServlet</servlet-name>
        <url-pattern>/CompanyApplicationsServlet</url-pattern>
    </servlet-mapping>
    <!-- Session Timeout -->
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadResumeServlet</servlet-name>
        <url-pattern>/DownloadResumeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Optional: Welcome page -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
